<header id="main-header">
  <div id="logo"><a href="/">TEssentials</a></div>
  <nav>
    <%- include('nav-items') %> 
  </nav>
  <a href="/" id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %> 
  </nav>
</aside>