<%- include('includes/head', { pageTitle: 'Unauthorized access' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>403 Unauthorized access</h1>
    <p><a class="btn" href="/">Back to safety!</a></p>
  </main>
  <%- include('includes/footer') %>
</body>
