<%- include('includes/head', { pageTitle: 'Page not found' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>404 Resource Not Found</h1>
    <p><a class="btn" href="/">Back to safety!</a></p>
  </main>
  <%- include('includes/footer') %>
</body>
