<%- include('includes/head', { pageTitle: locals.isAdmin ? 'All Orders' : 'All Your Orders' }) %>
  <link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <% if (!locals.isAdmin) { %> 
      <h1>All Your Orders</h1>
    <% } else { %> 
      <h1>All Shop Orders</h1>
    <% } %> 
    <section>
      <ol class="orders-list">
        <% for (const order of orders) { %>
          <li><%- include('includes/order-item.ejs', { order }) %></li>
        <% } %>
      </ol>
    </section>
  </main>
  <%- include('includes/footer') %>
</body>
