<%- include('includes/head', { pageTitle: 'Order failed!' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Order has not been placed.</h1> 
    <section>
      <p>You either cancelled your order or something went wrong with your payment...</p>
      <p><a href="/cart">Go to my cart</a></p>
    </section>
  </main>
  <%- include('includes/footer') %>
</body>
