<%- include('includes/head', { pageTitle: 'Order has been placed!' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Order has been placed!</h1> 
    <section>
      <p>Congratulations! You order has been placed successfully!</p>
      <p><a href="/orders">View your orders</a></p>
    </section>
  </main>
  <%- include('includes/footer') %>
</body>
