* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", "Times New Roman", Times, serif;

  --color-gray-50: rgb(243, 236, 230);
  --color-gray-100: rgb(207, 201, 195);
  --color-gray-200: rgb(155, 152, 150);
  --color-gray-300: rgb(99, 92, 86);
  --color-gray-400: rgb(70, 65, 60);
  --color-gray-500: rgb(37, 34, 31);
  --color-gray-600: rgb(32, 29, 26);
  --color-gray-700: rgb(31, 26, 22);

  --color-primary-50: rgb(253, 224, 200);
  --color-primary-100: rgb(253, 214, 183);
  --color-primary-200: rgb(250, 191, 143);
  --color-primary-400: rgb(223, 159, 41);
  --color-primary-500: rgb(212, 136, 14);
  --color-primary-700: rgb(212, 120, 14);
  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: white;

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);

  --color-remove-500: rgb(224, 106, 77);

  --color-primary-500-bg: rgb(63, 60, 58);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 10px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-gray-500);
  color: var(--color-gray-50);
  margin: 0;
}

main {
  width: 100%;
  max-width: 60rem;
  margin: var(--space-6) auto;
  padding: 0 var(--space-4);
}

footer {
  display: flex;
  height: 6rem;
  width: 100%;
  max-width: 60rem;
  padding: 0 var(--space-4);
  margin: var(--space-8) auto 0 auto;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-primary-200);
}

footer p {
  color: var(--color-gray-100);
}

h1 {
  font-size: 1.75rem;
  font-weight: 900;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.btn {
  font: inherit;
  cursor: pointer;
  padding: var(--space-2) var(--space-4);
  margin: 0;
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
  border: 1px solid var(--color-primary-400);
  border-radius: var(--border-radius-small);
  text-align: center;
}

.btn:active,
.btn:hover {
  background-color: var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.btn-alt {
  background-color: transparent;
  color: var(--color-primary-500);
}

.btn-alt:active,
.btn-alt:hover {
  background-color: var(--color-primary-500-bg);
}

.btn-remove {
  background-color: transparent;
  color: var(--color-remove-500);
  border: 0;
}

.btn-remove:active,
.btn-remove:hover {
  color: var(--color-error-100);
}

.error {
  background-color: var(--color-error-100);
  border-radius: var(--border-radius-medium);
  color: var(--color-error-500);
  padding: var(--space-2) var(--space-4);
}

.error h2 {
  font-size: 1.25rem;
  margin: var(--space-2);
  text-transform: uppercase;
}

.error p {
  margin: var(--space-2);
}

#logo {
  font-size: 2rem;
  font-weight: 900;
}

.badge {
  display: inline-flex;
  background-color: var(--color-primary-400);
  border-radius: 20rem;
  color: var(--color-primary-500-contrast);
  justify-content: center;
  align-items: center;
  padding: 0 var(--space-2);
  margin-left: var(--space-1);
}
