.cart-item {
  width: 100%;
  display: flex;
  margin-bottom: var(--space-6);
  align-items: center;
  gap: var(--space-6);
  background-color: var(--color-gray-600);
  border-radius: var(--border-radius-large);
  padding: var(--space-4);
}

.cart-item img {
  width: 7.5rem;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-large);
}

.cart-item-info {
  align-self: flex-start;
  flex-grow: 4;
}

.cart-item-info h2 {
  margin: 0;
  font-size: 1.5rem;
}

.cart-item-original-price {
  color: var(--color-gray-200);
  font-style: italic;
}

.cart-item-actions {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-item-actions input {
  margin: var(--space-8);
  text-align: center;
  font: inherit;
  font-size: 1.25rem;
  height: 2.25rem;
  width: 3rem;
  border-radius: var(--border-radius-medium);
  border: 0;
}

.cart-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total p {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-primary-400);
}

.cart-item-buttons {
  display: flex;
  flex-direction: column;
}

.cart-item-buttons button {
  margin: var(--space-1);
  margin-right: 0;
}

@media (max-width: 48rem) {
  .cart-item {
    flex-direction: column;
    gap: 0;
  }

  .cart-item img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    border-radius: var(--border-radius-large);
  }

  .cart-item-info {
    margin-top: var(--space-4);
  }

  .cart-item-actions {
    width: 100%;
    flex-direction: column;
  }

  .cart-item-actions input {
    margin-top: 0;
    margin-bottom: var(--space-4);
  }

  .cart-item-buttons {
    width: 100%;
  }

  .cart-item-buttons button {
    height: 3rem;
  }

  .cart-total button {
    width: 100%;
    height: 3rem;
  }

  .cart-total {
    align-items: center;
  }
}
