.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-6);
  padding-top: var(--space-4);
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-gray-600);
  border-radius: var(--border-radius-large);
  overflow: hidden;
  text-align: center;
}

.product-item img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 12.5rem;
}

.product-item h2 {
  margin: var(--space-2);
  margin-top: var(--space-4);
  font-size: 1.3rem;
}

.product-item p {
  padding: 0;
  margin: 0 0 var(--space-4) 0;
}

.product-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--space-4) var(--space-4) var(--space-4);
}

.product-actions > * {
  width: 100%;
}

#product-details {
  display: flex;
  flex-direction: column;
}

#product-details h2 {
  margin: 0;
}

#product-details header {
  display: flex;
  margin-top: var(--space-4);
  padding: var(--space-8);
  background-color: var(--color-gray-600);
  gap: var(--space-8);
  border-radius: var(--border-radius-large);
}

#product-details img {
  object-fit: cover;
  border-radius: var(--border-radius-large);
  width: 45%;
  min-width: 45%;
  height: 20rem;
}

#product-details section {
  margin: auto var(--space-8);
}

#product-info {
  width: 100%;
}

#product-price {
  margin-top: var(--space-1);
  font-weight: 700;
  font-size: 1.1rem;
}

#product-description {
  white-space: pre-wrap;
}

@media (max-width: 48rem) {
  #product-details img {
    min-width: 100%;
  }

  #product-details header {
    display: inline-block;
  }

  #product-info {
    padding-top: var(--space-4);
  }
}