<%- include('includes/head', { pageTitle: 'All products' }) %>
  <link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>All products</h1>
    <section>
      <ul class="products-grid">
        <% for (const product of products) { %> 
          <li>
            <%- include('includes/product-item', { product }) %>
          </li>
        <% } %> 
      </ul>
    </section>
  </main>
  <%- include('includes/footer') %>
</body>
