<%- include('includes/head', { pageTitle: 'Manage products' }) %>
  <link rel="stylesheet" href="/styles/products.css">
  <script src="/scripts/products-management.js" defer></script>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Products Administration</h1>
    <section>
      <h2>Manage products</h2>
      <p><a class="btn" href="/admin/products/new">Add new product</a></p>
    </section>
    <section>
      <ul class="products">
        <% for (const product of products) { %> 
          <li>
            <%- include('includes/product-item', { product }) %>
          </li>
        <% } %> 
      </ul>
    </section>
  </main>
  <%- include('includes/footer') %>
</body>
