<%- include('includes/head', { pageTitle: 'Manage products' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>All products (Admin)</h1>
    <p>List of products...</p>
  </main>
  <%- include('includes/footer') %>
</body>
