<%- include('includes/head', { pageTitle: 'Add New Product' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Add new product page..</h1>
  </main>
  <%- include('includes/footer') %>
</body>
