<%- include('includes/head', { pageTitle: 'All products' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>All products</h1>
    <p>List of products...</p>
  </main>
  <%- include('includes/footer') %>
</body>
